<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/js/index.js"></script>
    <title>Index</title>
</head>

<body>
    <h2 id="title"><strong>BREAD (Browse, Read, Edit, Add, Delete)</strong></h2>
    <hr width="50%">
    <%- include ('search.ejs') %>

        <div class="card p-8">
            <table id="tables">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>String</th>
                        <th>Integer</th>
                        <th>Float</th>
                        <th>Date</th>
                        <th>Boolean</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% data.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.string %>
                            </td>
                            <td>
                                <%= item.integer %>
                            </td>
                            <td>
                                <%= item.float %>
                            </td>
                            <td>
                                <%= item.date==null ? 'kosong' : moment(item.date).format('DD MMMM YYYY')%>
                            </td>
                            <td>
                                <%= item.boolean==1 ? 'true' : 'false' %>
                            </td>
                            <td>
                                <a href="/edit/<%= item.id %>" class="edit">Edit</a>
                                <a href="/delete/<%= item.id %>"
                                    onclick="return confirm('Are you sure you want to delete this data?')"
                                    class="delete">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <br>
            <div class="flex-container space-x">
                <div>
                    <a class="add" href="/add">Add</a>
                </div>
                <div class=" pagination">
                    <%if (page !=1){%>
                        <a href="<%=url.replace(`page=${page}`, `page=${parseInt(page)-1}`)%>">&laquo;</a>
                        <%}%>

                            <%for (let i=1; i <=pages; i++) { %>
                                <a class="<%= i == page ? 'active' : ''%>"
                                    href="<%=url.replace(`page=${page}`, `page=${i}`)%>">
                                    <%= i %>
                                </a>
                                <% } %>

                                    <% if (page <=pages && page !=pages) { %>
                                        <a
                                            href="<%=url.replace(`page=${page}`, `page=${parseInt(page)+1}`)%>">&raquo;</a>
                                        <% } %>
                </div>
            </div>
        </div>
</body>

</html>