<div class="container card">
    <h2>Filters</h2>

    <form action="" method="get">
        <div class="flex-container">
            <label class=" ">
                <input id="checkbox" type="checkbox" <%=query.idCheck ? 'checked' : '' %>>ID
            </label>
            <div class="space-8">
                <input id="Id" class="input-search" type="text" placeholder="Id" value="<%= query.id %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <input id="checkbox" type="checkbox" <%=query.stringCheck ? 'checked' : '' %>>
            <label class=" ">String</label>
            <div class="space-8">
                <input id="String" class="input-search" type="text" placeholder="String" value="<%= query.string %>">
            </div>
        </div>

        <br>

        <div class="flex-container">
            <input id="checkbox" type="checkbox" <%=query.integerCheck ? 'checked' : '' %>>
            <label class="">Integer</label>
            <div class="space-8">
                <input id="Integer" class="input-search" type="number" placeholder="Integer"
                    value="<%= query.integer %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <input id="checkbox" type="checkbox" <%=query.floatCheck ? 'checked' : '' %>>
            <label class="">Float</label>
            <div class="space-8">
                <input id="Float" class="input-search" type="number" step="0.005" placeholder="Float"
                    value="<%= query.float %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <input id="checkbox" type="checkbox" <%=query.dateCheck ? 'checked' : '' %>>
            <label class="">Date</label>
            <div id="Date" class="space-8">
                <input class="input-search date-input" type="date" placeholder="Date" <%=query.startDate %>>
                <br>to<br>
                <input class="input-search date-input" type="date" placeholder="Date" <%=query.endDate %>>
            </div>
        </div>
        <br>

        <div class="flex-container">
            <input id="checkbox" type="checkbox" <%=query.booleanCheck ? 'checked' : '' %>>
            <label class="">Boolean</label>
            <div id="Boolean" class="space-8">
                <select class="input" name="boolean">
                    <option value="" selected disabled>-- Choose Boolean --</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
        <br>

        <div>
            <button type="submit" id="search-button">Search</button>
            <button type="reset" id="reset-button">Reset</button>
        </div>
        <br>
    </form>
</div>