<div class="container card">
    <h2>Filters</h2>

    <form action="" method="get">
        <input type="hidden" name="page" value="1">
        <div class="flex-container">
            <input name="idCheck" type="checkbox" <%=query.idCheck ? 'checked' : '' %>>
            <label for="idCheck">
                ID
            </label>
            <div class="space-8">
                <input id="Id" class="input-search" name="id" type="text" placeholder="Id" value="<%= query.id %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <label for="stringCheck">
                <input id="checkbox" name="stringCheck" type="checkbox" <%=query.stringCheck ? 'checked' : '' %>>String
            </label>
            <div class="space-8">
                <input id="String" class="input-search" name="string" type="text" placeholder="String"
                    value="<%= query.string %>">
            </div>
        </div>

        <br>

        <div class="flex-container">
            <label for="integerCheck">
                <input id="checkbox" name="integerCheck" type="checkbox" <%=query.integerCheck ? 'checked' : ''
                    %>>Integer
            </label>
            <div class="space-8">
                <input id="Integer" class="input-search" name="integer" type="number" placeholder="Integer"
                    value="<%= query.integer %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <label for="floatCheck">
                <input id="checkbox" name="floatCheck" type="checkbox" <%=query.floatCheck ? 'checked' : '' %>>Float
            </label>
            <div class="space-8">
                <input id="Float" class="input-search" name="float" type="number" step="0.005" placeholder="Float"
                    value="<%= query.float %>">
            </div>
        </div>
        <br>

        <div class="flex-container">
            <label for="dateCheck">
                <input id="checkbox" name="dateCheck" type="checkbox" <%=query.dateCheck ? 'checked' : '' %>>Date
            </label>
            <div id="Date" class="space-8">
                <input class="input-search date-input" name="startDate" type="date" placeholder="Date"
                    <%=query.startDate %>>
                <br>to<br>
                <input class="input-search date-input" name="endDate" type="date" placeholder="Date" <%=query.endDate
                    %>>
            </div>
        </div>
        <br>

        <div class="flex-container">
            <label for="booleanCheck">
                <input id="checkbox" name="booleanCheck" type="checkbox" <%=query.booleanCheck ? 'checked' : ''
                    %>>Boolean
            </label>
            <div id="Boolean" class="space-8">
                <select class="input" name="boolean">
                    <option selected disabled>-- Choose Boolean --</option>
                    <option value=1 <%=query.boolean==1 ? 'selected' : '' %> name="boolean">True</option>
                    <option value=0 <%=query.boolean==0 ? 'selected' : '' %> name="boolean">False</option>
                </select>
            </div>
        </div>
        <br>
        <div>
            <input type="submit" id="search-button" value="Search">
            <a href="/" type="reset" id="reset-button">Reset</a>
        </div>
        <br>
    </form>
</div>